<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .completado {
        text-decoration: line-through;
    }
</style>

<body>
    <main>
        <h4>
            Lista
        </h4>
        <ul>
            <!--se añadira la clase completado solo si tarea.complete
            es true-->
            <li 
            :class="{completado: tarea.complete}"
            @click="completeTask(tarea)"
            v-for="tarea in tareas">{{ tarea.title}}</li>
        </ul>
        <pre>
            {{$data}}
        </pre>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script>
        new Vue({
            el: 'main',
            data: {
                tareas: [
                    {title:'almorzar', complete:false},
                    {title:'ir al baño', complete:true},
                    {title:'hablar con lauri', complete:true},
                    {title:'completar un nuevo tutorial', complete:false},
                ]
            },
            methods:{
                completeTask(tarea){
                    tarea.complete=!tarea.complete;


                }

            }
        })</script>
</body>

</html>