<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=7, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <main>

        <h1>{{reverseMessage}}</h1>
        
        <ul>
        
            <li v-for="tarea in tareasAntiguedad">
                {{ tarea.titulo }}
            </li>
        </ul>
        <input type="search" v-model="search" placeholder="buscar juego">

        <ul>
        
                <li v-for="game in bestGames">
                    {{ game.title }}
                </li>
            </ul>

            <input type="range" min="0" max="10" v-model="minimo">

        <form @submit.prevent="addTarea">
            <input type="text" placeholder="añade una tarea" @keyup.enter="addTarea" v-model="newTarea">
            <input type="submit" value="enviar tarea">

        </form>

        <pre>
            {{$data}}
        </pre>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: 'main',
            data: {
                search:'',
                newTarea: null,
                message: 'tengo sueño y hambre',
                tareas: [
                    'aprender todo vue',
                    'hacer mas ejercicios',
                    'dormir'
                ],
                tareas2: [
                    {
                        titulo: 'almorzar',
                        finish: true,
                        year: 25
                    },
                    {
                        titulo: 'dormir',
                        finish: false,
                        year: 60
                    },
                    {
                        titulo: 'playa',
                        finish: true,
                        year: 83
                    }
                    ],
                      minimo:3,
                    games:
                    [{
                        title:'nugget vs algo',
                        genero:'mecha',
                        puntuacion:10
                    },
                    {
                        title:'gatitos',
                        genero:'estrategia',
                        puntuacion:9
                    }]

            },
            methods: {
                addTarea() {
                    this.tareas.unshift(this.newTarea);
                    this.newTarea = '';

                }
            },
            //meth: cada vez q se llama reevalua constante
            //comp: solo cambia cuando cambian las dependencias
            computed: {
                reverseMessage() {
                    return this.message.toUpperCase();
                },
                tareasPrioritarias(){
                    return this.tareas2.filter((tarea)=>tarea.prioridad)
                },
                tareasAntiguedad(){
                    return this.tareas2.sort((a, b)=>b.year-a.year);
                },
                bestGames(){
                    return this.games.filter((game) => game.puntuacion>= this.minimo);
                },
                searchGame(){
                    return this.games.filter((game)=> game.title.includes(this.search));
                }    
            }
        })
    </script>
</body>

</html>