<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <h1><!--quiero q traigas el mensaje por interpolacion-->
            {{message}}
        </h1>
        <!--directiva para enlazar el modelo message con el input-->
        <input type="text" v-model="message">
        <!--agujero para mirar el modelo, q hay en el modelo-->
        <!--el pre es para no perder el formato-->
        <pre>{{ $data}}</pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script>
    new Vue({
        el:'main',
        data:{
            message: 'HOLI'
        }
    })</script>
</body>
</html>