<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <main>
        <h4>
            {{nombre}}
        </h4>
        <!--<ul>
            <li v-for="dia in labo">{{dia}}</li>
        </ul>-->
        
        <ul>
            <li v-for="(tarea, index) in tareas">
              {{index}}---{{ tarea.name}}
            </li>
        </ul>z
    </main>


    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script>
        new Vue({
            el: 'main',
            data: {
                nombre: 'Juan',
                labo: ['lunes','martes','miercoles','jueves','viernes'],
                tareas:[ 
                    {name:'compra', prioridad:'low'},
                    {name:'dormir', prioridad:'medium'},
                    {name:'comer', prioridad:'high'}
                ]
            }
        })</script>
</body>

</html>