<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="aie=edge">
    <title>Document</title>
</head>

<body>
    <!--renderizado condicional-->
    <main>
        <!--solo muestrate si esta conectado en true, le da un display none-->
        <!--el v-if lo elimina del dom-->
        <h1 v-show="conectado">
            estoy conectado
        </h1>

        <h2 v-if="edad<18">
            no puedes entrar
        </h2>
        <h2 v-else-if="edad>200">
            eres inmortal
        </h2>
        <h2 v-else>
            puedes entrar
        </h2>
        <template v-if="conectado">
            <h3>BIenvenido</h3>
            <ul>
                <li>
                    <a href="#">mis datos</a>
                    <a href="#">mensaje</a>
                    <a href="#">salir</a>
                </li>
            </ul>

        </template>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: 'main',
            data: {
                conectado: true,
                edad: 24
            }
        })
        </script>
</body>

</html>